.top-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin-right: 2rem;
}

.row-50-50 {
  display: flex;
  max-width: 100%;
}

.row-50-50 > span {
  flex: 1 1 0px;
  margin-right: 2rem;
}

.row-50-50 > span:last-of-type {
  margin-right: 0;
}
