.top-cards {
  display: flex;
}

.card {
  width: 300px;
  margin-right: 2rem;
}

.listingInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.listingInfo > .listCard {
  flex: 1;
}
