.pontualInfo {
    display: flex;
    gap: 1rem;
    flex: 1 1;
    padding: 1rem;
    flex-wrap: wrap;
    flex-grow: 1;
    box-sizing: border-box; 
    justify-content: space-between;
}

.listingInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2rem;
}

.listingInfo > .listCard {
    flex:1;
}